{% extends 'main.html' %}

{% block title %}
Blogs
{% endblock %}

{% block content %}
<div class="container">
    {% if not blogs %}
        <h4>There are no blogs</h4>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Views</th>
                <th scope="col">Likes</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ blog.title }}</td>
                <td>{{ blog.views }}</td>
                <td>{{ blog.likes }}</td>
                <td><a href="/blog/{{blog.id}}" class="btn btn-primary">Visit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    {% endif %}
</div>
{% endblock %}