{% extends 'main.html' %}

{% block title %}
Blogs
{% endblock %}

{% block content %}
<div class="container">
    <h1>List of blogs</h1>
    <p>Click on the tags to sort by that key</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"><a href="/blog?sort_by=title">Title</a></th>
                <th scope="col"><a href="/blog?sort_by=views">Views</a></th>
                <th scope="col"><a href="/blog?sort_by=likes">Likes</a></th>
                <th scope="col"><a href="/blog?sort_by=date">Date Posted</a></th>
                <th scope="col">Is Public</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ blog.title }}</td>
                <td>{{ blog.views }}</td>
                <td>{{ blog.likes }}</td>
                <td>{{ blog.date }}</td>
                <td>{{ blog.is_public }}</td>
                <td><a href="/blog/{{blog.id}}" class="btn btn-primary">Visit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container">
    <a href="/" class="btn btn-primary">Homepage</a>
</div>
{% endblock %}