{% extends "main.html" %}

{% block title %}
About Us
{% endblock %}


{% block content %}
<div class="container">
    <h1>Project born by Re:cover</h1>
    <hr>
    <h2>Web Application idea</h2>
    <p>
        We hope that this can serve as a platform for others to take their first step towards their recovery journey.
        By making the conversations anonymous, we aim to create an environment where others are more willing to open up
        By making it a group session, we hope to drive the costs down
    </p>
</div>
<div class="container">
    <p>If you have any other suggestions feel free to contact us below</p>
    <hr>
    <h4>Contact us:</h4>
    <p>This section is under construction</p>
<a href="/" class="btn btn-primary">Back to homepage</a>
</div>

{% endblock %}