{% extends 'main.html' %}

{% block title %}
Beyond health hack
{% endblock %}

{% block content %}
<div id="intro" class="bg-image shadow-2-strong">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Re:Cover</h1>
        <h5 class="mb-4">"Self-care is how you take your power back."</h5>
        <a class="btn btn-outline-light btn-lg m-2" href='/login' role="button" rel="nofollow">Login</a>
        <a class="btn btn-outline-light btn-lg m-2" href="/blog" role="button">Discover Recovery Stories</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}