{% extends "main.html" %}

{% block title %}
Login
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ login_form | crispy }}
        <br />
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <p>If don't have an account? <a href="/register" class="btn btn-primary">Register</a> instead.</p>
    <a href="/" class="btn btn-primary">Homepage</a>
</div>
{% endblock %}