{% extends 'main.html' %}

{% block title %}
Beyond health hack
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to the beyond health hack page by Team XXXX</h1>
    <br>
    Feel free to visit this different pages
    <br>
    <a href='/login' class="btn btn-primary">Login</a>
    <br>
    <a href='/register' class="btn btn-primary">Register</a>
    <br>
    <a href='/logout' class="btn btn-primary">Logout</a>
    <br>
    <a href='/blog' class="btn btn-primary">Blogs</a>
    <br>
    <a href="/admin" class="btn btn-primary">Admin Page</a>
    <br>
    <a href="/about_us" class="btn btn-primary">About Us</a>
    <h2>Login Required Fields</h2>
    <br>
    <a href="/sessions" class="btn btn-primary">Therapy Sessions</a>
</div>
{% endblock %}