{% extends "main.html" %}

{% load crispy_forms_tags %}

{% block title %}
Register
{% endblock %}

{% block content %}
<!-- Background image -->
<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <form class="bg-white rounded shadow-5-strong p-5" method="POST">
                        {% csrf_token %}
                        <h2>Register</h2>
                        <h9>Join the Re:Cover Family as a volunteer!</h9>

                        <br />
                        <br />

                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="username">Username</label>
                            <input id="username" class="form-control" name="username"/>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label type="email" class="form-label" for="email">Email</label>
                            <input id="email" class="form-control" name="email"/>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" id="password" class="form-control" name="password1"/>
                        </div>

                        <!-- Password Confirmation input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="passwordcfm">Password Confirmation</label>
                            <input type="password" id="passwordcfm" class="form-control" name="password2"/>
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                                <!-- Checkbox -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="T&C"
                                        checked />
                                    <label class="form-check-label" for="T&C">
                                        I accept the <a href="">Terms & Conditions</a> of Re:Cover
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br />

                        <!-- Register button -->
                        <button style="align-self: center;" type="submit"
                            class="btn btn-primary btn-block">Register</button>
                        <p>If you already have an account, <a href="/login" class="btn btn-primary">Login</a> instead.
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->
{% endblock %}